:host div{
    color: rgb(49, 49, 49);
    display: inline-flex;
    align-items: center;
    text-align: center;
    position: relative;
    justify-content: center;
}

:host p{
    margin:0;
    white-space: nowrap;
}

.week p{
    font-weight: bold;
}
.week mat-icon{
    color:#DF5BF5;
}