
<div class="flex">
<div class="Sign-up">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <p><strong>Create an account</strong></p>
        <input  required  type="text" placeholder="E-mail"  id="emailicon" formControlName="email">
        <br>        
        <input  required  type="text" placeholder="Re-write  e-mail "  id="emailicon" >
        <br>
        <input type="password" placeholder="Password" formControlName="pass">
        <br>
        <input type="password" placeholder="Re-write password" >
        <br>
        <div class="down-part">
            <button type="submit" style="color: #fff;border-radius: 30px; background-color: rgb(202, 6, 196); font-size: 10PX; padding: 10px 60px ;margin: 0 auto;" >Sign-up</button>
        </div>
    </form>
</div> 
<div class="Slogan">
    <P>Intelligence tasks</P>
</div>
</div>


