
<div class="row rand">
    <div class="week col-sm coloana">
        <div class="header-component">
            <mat-icon [ngStyle]="{'color': color1}">keyboard_arrow_down</mat-icon>
            <p [ngStyle]="{'color': color1}"> This Week</p>
        </div>
    </div>
    <div class="col-sm coloana" *ngFor="let d of divs">
        <div class="header-component">
            <p>{{d}}</p>
        </div>
    </div>
</div>

<app-task title = "Ecran Login" stats="(Tataruca);(Done, #61F95E);(28Iun,, error_outline);(Low, #7EEE90,);(2d)"></app-task>
<app-task title = "Ecran TaskOverview" stats="(Teodorescu);(In progress, #F9B25E);(4Feb,, error_outline);(Hight, #EE7E7E,);(7d)"></app-task>
<app-task title = "Ecran Team Task" stats="(Teodorescu);(Waiting for review, #82ACFF);(7iun,, error_outline);(Medium, #EED57E,);(5d)"></app-task>
<app-task title = "Creare baza de date" stats="(Scrob);(Waiting for review, #82ACFF);(7iun,, error_outline);(Hight, #EE7E7E,);(5h)"></app-task>
